* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.qr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.qr.fb {
    background-color: blue;
}

.qr.fizz {
    background-color: pink;
}

.qr.buzz {
    background-color: orange;
}

.qr.norm {
    background-color: greenyellow;
}